*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.donate_main{
    width: 100%;
    margin: auto;
}
.donate_main .donate_title{
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 15px;
}   
.donate_main .finish{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.donate_main .finish .btn{
    width: 20%;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    height: 40px;
    background-color: tomato;
    border-radius: 10px;
    border:5px solid grey;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 50px;
}
.donate_main .container{
    width: 80%;
    margin: auto;
    
}
.donate_main .container .item{
    width: 100%;
    background-color: whitesmoke;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 5px solid rgba(0, 0, 0, .7);
    margin: 50px 0;
}
.donate_main .container .img{
    width: 100%; height: 200px;
}
.donate_main .container img{
    width: 100%; height: 100%;
}
.donate_main .content{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.donate_main .txt{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.donate_main h1{
    font-size: 20px;
    font-weight: 900;
}
.donate_main p{
    font-size: 18px;
}
.donate_main .btn{
    width: 60%;
    display: flex;
    justify-content: space-around;
}
.donate_main .reduce{
    width: 25%;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    background-color: grey;
    border-radius: 10px;
    cursor: pointer;
}
.donate_main input{
   width: 40%;
   border-radius: 10px;
   text-align: center;
   font-size: 20px;
}
.donate_main input:focus{
    outline: none;
}
.donate_main .increase{
    width: 25%;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    background-color: grey;
    border-radius: 10px;
    cursor: pointer;
}
.check_color{
    background-color: black;
    color: black;
    transform: scale(.9);
}

.wrap{
    display: none;
    position: fixed;
    top: 0;
    width: 100%; height: 100vh;
    background-color: transparent;
    backdrop-filter: blur(5px);
}
.wrap .list{
    width: 90%; height: 60%;
    margin:25% auto;
    background-color: wheat;
    border: 5px solid grey;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content:flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
}
.wrap h1{
    width: 100%;
    font-size: 35px;
    font-weight: 900;
    text-align: center;
    line-height: 1.9;
    border-bottom: 1px solid black;
}
.wrap .buy_item{
    font-size: 20px;
    width: 60%;
    border-bottom:1px solid black;
}
.wrap .buy_price{
    font-size: 20px;
    width: 26%;
}
.wrap .total{
    font-size: 20px;
    width: auto;
    position: absolute;
    right: 5px;
    bottom: 20px;
}
.wrap .enter{
    position: absolute;
    bottom: 5px;
    left: 20px;
    font-size: 20px;
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 3px solid rgba(0, 0, 0, .7);
    cursor: pointer;
}
.wrap .cancle{
    position: absolute;
    bottom: 5px;
    left: 110px;
    font-size: 20px;
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 3px solid rgba(0, 0, 0, .7);
    cursor: pointer;
}
@media screen and (min-width:768px){
    .donate_main{
        margin: 50px 0px 60px;
    }
    .donate_main .donate_title{
        font-size: 70px;
    }
    .donate_main .container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .donate_main .container .item{
        width: 20%;
    }
    .wrap .list {
        width: 50%;
        margin: 10% auto;
    }
    .wrap .list h1{
        font-size: 50px;
    }
    .wrap .list .buy_item,
    .wrap .buy_price,
    .wrap .total{
        font-size: 40px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1270px){
    .donate_main .container .item{
        width: 35%;
    }
}